<div class="header">
    <a class="nav-link" routerLink="/" style="text-decoration: none;">
        <div class="title">Temperature Sensor Dashboard</div>
    </a>
</div>
<div class="container">
    <div class="description">
        <img src="/assets/img/temp.png">
        This is an Angular app, talking to Arduino service.
    </div>
    <div class="horizontal-line"></div>
    <div class="slider">
        <div class="title-container">Set Range of Temperature</div>
        <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
        <button class="slider-btn">Submit</button>
    </div>
    <div class="horizontal-line"></div>
    <div class="current-temp">
        <div class="title-container">Current Temperature:</div>
        <div class="temp-container">
            <div class="temp-value">
                10°C
            </div>
            <button class="refresh" (click)="refreshTemp()"><fa-icon [icon]="rotateIcon"></fa-icon></button>
        </div>
    </div>
</div>

<div class="footer">
    <div class="links">
      <div class="link">
        <img src ="../assets/img/github_logo.png" height="20px"> 
        <a href="https://github.com/AnaStoyanova/temp-app">/temp-app</a>
      </div>
      <div class="link">
        <img src ="../assets/img/github_logo.png" height="20px"> 
        <a href="https://github.com/fmi/iot-course">/iot-course</a>
      </div>
    </div>
    <div class="copyright"> © Copyright 2022 </div>
